body    {
    background-color: rgba(82, 182, 189, 0.363);
}

h1  {
    color: rgb(0, 24, 29);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0,0,0,0.6);
}

.container  {
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid rgba(0, 0, 0, 0.671);
    border-radius: 5%;
}

/* ------------------ SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY ----------------------*/
.container .squares:nth-child(-n+4) {
    background-image: url("../Images/Icons/icons2.png");
    color: rgb(109, 0, 0);
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

/* ------------------ SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY ----------------------*/

.squares:nth-child(-n+4)    p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(118, 223, 255, 0.534);
}

/* ------------------ INDIVIDUALLY SELECT A SQUARE IN THE ARRAY ----------------------*/

.squares:nth-child(1)   {
    background: rgba(220, 20, 60, 0.486);
}

.squares:nth-child(2)   {
    background: rgba(209, 255, 183, 0.425);
}

.squares:nth-child(3)   {
    background: rgba(223, 128, 236, 0.493);
}

.squares:nth-child(4)   {
    background: rgba(107, 109, 243, 0.425);
}

/* ------------------ HOVER EFFECTS ----------------------*/

.container .squares:nth-child(-n+4):hover   {
    background-image: url("../Images/Icons/icons.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(1):hover {
    background: rgba(255, 0, 0, 0.575);
}
.squares:nth-child(2):hover {
    background: rgba(200, 238, 64, 0.548);
}
.squares:nth-child(3):hover {
    background: rgba(255, 33, 255, 0.507);
}
.squares:nth-child(4):hover {
    background: rgba(123, 251, 255, 0.616);
}

/* ------------------ ANIMATION EFFECTS ----------------------*/

@keyframes race     {
    0%, 100%    {
        transform: translateY(0px);
        background-image: url("../Images/Icons/icons.png");
    }
    50%     {
        transform: translateY(330px);
    }
}